{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content
%}
<div class="form-group container-expand-lg p-5">
    <div class="row">
        <div class="col" style="background-color: rgba(250,250,250,0.9); border: solid; border-width: 1px; border-radius: 10px">
            <h5 class="text-center p-2">Batter</h5>
            <form method="POST">
                <div class="container-expand-lg">
                    <div class="row">
                        <div class="col-9">
                            <input name="batter" class="form-control" id="batter" placeholder="Enter player name...">
                        </div>
                        <div class="col-3">
                                <button type="submit" class="btn btn-primary text-center">Search</button>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text-center text-danger" style="height: 20px">{{ batter_error }}</p>
            <h1 class="text-center">{{ batter_data['fullName'] }}</h1>
            <p class="text-center">{{ hitting_data['current_team']}} | {{ hitting_data['position'] }} ({{ hitting_data['bat_side'][0] }}) | #{{ batter_data['primaryNumber'] }}</p>
            <br />
            <div class="row">
                <div class="col">
                    <img class="img-fluid mb-3" src="{{ batter_img }}" style="border: solid; border-width: 1px; border-radius: 5px"/>
                </div>
                <div class="col">
                    <p class="text-center">Career Stats</p>
                    <h4 class="text-center">AVG:&nbsp;&nbsp;&nbsp;&nbsp;{{ hitting_data['stats'][0]['stats']['avg'] }}</h4>
                    <h4 class="text-center">OBP:&nbsp;&nbsp;&nbsp;&nbsp;{{ hitting_data['stats'][0]['stats']['obp'] }}</h4>
                    <h4 class="text-center">SLG:&nbsp;&nbsp;&nbsp;&nbsp;{{ hitting_data['stats'][0]['stats']['slg'] }}</h4>
                    <h4 class="text-center">OPS:&nbsp;&nbsp;&nbsp;&nbsp;{{ hitting_data['stats'][0]['stats']['ops'] }}</h4>
                    <h4 class="text-center">HRs:&nbsp;&nbsp;&nbsp;&nbsp;{{ hitting_data['stats'][0]['stats']['homeRuns'] }}</h4>
                </div>
            </div>
        </div>
        <div class="col-5 mx-5 p-2" style="background-color: rgba(250,250,250,0.9); border: solid; border-width: 1px; border-radius: 10px">
            <h2 class="text-center">{{ batter_data['fullName'] }} vs. {{ pitcher_data['fullName'] }}</h2>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleSection('a')" id="tab-a" style="color: #111111; text-decoration: underline;">Predictions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleSection('b')" id="tab-b" style="color: #999999">Head to Head</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="hideYear()" id="tab-c" style="color: #999999">Year Influences</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="px-4 container">
            <div id="section-a">
                <p>Predicted outcomes of this matchup!</p>
                <div class="row">
                    <div class="col">
                        <h5>Reach Base:</h5>
                        <h5>Hit:</h5>
                        <h5>Strikeout:</h5>
                        <h5>Home Run:</h5>
                    </div>
                    <div class="col w-25">
                        <h5>{{ outcomes[0] }}%</h5>
                        <h5>{{ outcomes[1] }}%</h5>
                        <h5>{{ outcomes[2] }}%</h5>
                        <h5>{{ outcomes[3] }}%</h5>
                    </div>
                </div>
                <p style="padding-top: 10px; font-size: 14px;">Predicted outcomes are calculated using data from both players' entire careers. Splits against each other, their opponent's handedness and statistics from recent games are weighted more heavily to produce a more accurate result. Please note that only players that are currently on an active MLB roster are eligible.</p>
            </div>
            <div id="section-b" style="display:none;">
                <p>See the players' career stats against each other!</p>
                <div class="row">
                    <div class="col">
                        <h5>PAs:</h5>
                        <h5>Hits:</h5>
                        <h5>Ks:</h5>
                        <h5>BBs:</h5>
                        <h5>AVG:</h5>
                        <h5>OPS:</h5>
                        <h5>HRs:</h5>
                    </div>
                    <div class="col">
                        <h5>{{ head_to_head_data[0] }}</h5>
                        <h5>{{ head_to_head_data[1] }}</h5>
                        <h5>{{ head_to_head_data[2] }}</h5>
                        <h5>{{ head_to_head_data[3] }}</h5>
                        <h5>{{ head_to_head_data[4] }}</h5>
                        <h5>{{ head_to_head_data[5] }}</h5>
                        <h5>{{ head_to_head_data[6] }}</h5>
                    </div>
                </div>
                  <p style="padding-top: 10px; font-size: 14px;">Above are some relevant stats from the times these two players have faced up against each other in the MLB. If there exists any information, it is taken into consideration when calculating predicted outcomes.</p>
            </div>
            <div id="section-c" style="display:none;">
                <p>See which years have the highest influence on the predicted outcomes!</p>
                 <div class="row" id="loo1" style="background-color: rgba(160,160,160,0.25);">
                     <div class="col-2 d-flex align-items-center">
                        <h3 id="loo_year1" class="">{{ loo_year[0][8] }}</h3>
                     </div>
                     <div class="col" style="padding-top: 15px; font-size: 14px;">
                          <p class="percent_change">• Reach Base: {{  loo_year[0][0] }}% ({{  loo_year[0][4] }}%)</p>
                          <p class="percent_change">• Hit: {{  loo_year[0][1] }}% ({{  loo_year[0][5] }}%)</p>
                     </div>
                     <div class="col" style="padding-top: 15px;  font-size: 14px;">
                          <p class="percent_change">• Strikeout: {{  loo_year[0][2] }}% ({{  loo_year[0][6] }}%)</p>
                          <p class="percent_change">• Home Run: {{  loo_year[0][3] }}% ({{  loo_year[0][7] }}%)</p>
                     </div>
                 </div>
                 <div class="row" id="loo2">
                    <div class="col-2 d-flex align-items-center">
                        <h3 id="loo_year2" class="">{{ loo_year[1][8] }}</h3>
                     </div>
                     <div class="col" style="padding-top: 15px; font-size: 14px;">
                          <p class="percent_change">• Reach Base: {{  loo_year[1][0] }}% ({{  loo_year[1][4] }}%)</p>
                          <p class="percent_change">• Hit: {{  loo_year[1][1] }}% ({{  loo_year[1][5] }}%)</p>
                     </div>
                     <div class="col" style="padding-top: 15px;  font-size: 14px;">
                          <p class="percent_change">• Strikeout: {{  loo_year[1][2] }}% ({{  loo_year[1][6] }}%)</p>
                          <p class="percent_change">• Home Run: {{  loo_year[1][3] }}% ({{  loo_year[1][7] }}%)</p>
                     </div>
                 </div>
                 <div class="row" id="loo3" style="background-color: rgba(160,160,160,0.25);">
                     <div class="col-2 d-flex align-items-center">
                        <h3 id="loo_year3" class="">{{ loo_year[2][8] }}</h3>
                     </div>
                     <div class="col" style="padding-top: 15px; font-size: 14px;">
                          <p class="percent_change">• Reach Base: {{  loo_year[2][0] }}% ({{  loo_year[2][4] }}%)</p>
                          <p class="percent_change">• Hit: {{  loo_year[2][1] }}% ({{  loo_year[2][5] }}%)</p>
                     </div>
                     <div class="col" style="padding-top: 15px;  font-size: 14px;">
                          <p class="percent_change">• Strikeout: {{  loo_year[2][2] }}% ({{  loo_year[2][6] }}%)</p>
                          <p class="percent_change">• Home Run: {{  loo_year[2][3] }}% ({{  loo_year[2][7] }}%)</p>
                     </div>
                 </div>
                <p style="padding-top: 10px; font-size: 14px;">The top three years are listed in order above. Influences are calculated by excluding a specific year's data and re-computing the predictions.</p>
            </div>
        </div>

        <script>
        function hideYear() {
            toggleSection('c');
            colourText();

            if (document.getElementById('loo_year2').textContent == '') {
                document.getElementById('loo2').classList.add('invisible');
            }

            if (document.getElementById('loo_year3').textContent == '') {
                document.getElementById('loo3').classList.add('invisible');
            }
        }

        function toggleSection(section) {
            document.getElementById('section-a').style.display = 'none';
            document.getElementById('section-b').style.display = 'none';
            document.getElementById('section-c').style.display = 'none';

            document.getElementById('tab-a').style.color = '#999999';
            document.getElementById('tab-b').style.color = '#999999';
            document.getElementById('tab-c').style.color = '#999999';

            document.getElementById('tab-a').style.textDecoration = "none";
            document.getElementById('tab-b').style.textDecoration = "none";
            document.getElementById('tab-c').style.textDecoration = "none";

            document.getElementById('section-' + section).style.display = '';
            document.getElementById('tab-' + section).style.color = '#111111';
            document.getElementById('tab-' + section).style.textDecoration = "underline";
        }

        function colourText() {
            var elements = document.getElementsByClassName('percent_change')
            for (var i = 0; i < elements.length; i++) {
                var p = elements[i];
                var text = p.textContent;
                var colour = 'green';

                var start = text.indexOf('+');
                if (start == -1) {
                    start = text.indexOf('-');
                    colour = 'red';
                }

                var end = text.indexOf('%');
                end = text.indexOf('%', end + 1) + 1;

                var part1 = text.substring(0, start);
                var part2 = text.substring(start, end);
                var part3 = text.substring(end);

                p.innerHTML = '<span>' + part1 + '</span><span style="color: '+colour+';">' + part2 + '</span><span>' + part3 + '</span>';
            }
        }
        </script>

        </div>
        <div class="col" style="background-color: rgba(250,250,250,0.9); border: solid; border-width: 1px; border-radius: 10px">
            <h5 class="text-center p-2">Pitcher</h5>
            <form method="POST">
                <div class="container-expand-lg">
                    <div class="row">
                        <div class="col-9">
                            <input name="pitcher" class="form-control" id="pitcher" placeholder="Enter player name...">
                        </div>
                        <div class="col-3">
                                <button type="submit" class="btn btn-primary text-center">Search</button>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text-center text-danger" style="height: 20px">{{ pitcher_error }}</p>
            <h1 class="text-center">{{ pitcher_data['fullName'] }}</h1>
            <p class="text-center">{{ pitching_data['current_team']}} | {{ pitching_data['position'] }} ({{ pitching_data['pitch_hand'][0] }}) | #{{ pitcher_data['primaryNumber'] }}</p>
            <br />
            <div class="row">
                <div class="col">
                    <p class="text-center">Career Stats</p>
                    <h4 class="text-center">ERA:&nbsp;&nbsp;&nbsp;&nbsp;{{ pitching_data['stats'][0]['stats']['era'] }}</h4>
                    <h4 class="text-center">WHIP:&nbsp;&nbsp;&nbsp;&nbsp;{{ pitching_data['stats'][0]['stats']['whip'] }}</h4>
                    <h4 class="text-center">Op BA:&nbsp;&nbsp;&nbsp;&nbsp;{{ pitching_data['stats'][0]['stats']['avg'] }}</h4>
                    <h4 class="text-center">K/BB:&nbsp;&nbsp;&nbsp;&nbsp;{{ pitching_data['stats'][0]['stats']['strikeoutWalkRatio'] }}</h4>
                    <h4 class="text-center">SO:&nbsp;&nbsp;&nbsp;&nbsp;{{ pitching_data['stats'][0]['stats']['strikeOuts'] }}</h4>
                </div>
                <div class="col">
                    <img class="img-fluid mb-3" src="{{ pitcher_img }}" style="border: solid; border-width: 1px; border-radius: 5px"/>
                </div>
            </div>
        </div>
    </div>
</div>
<br /> <br /> <br />
{% endblock %}