{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content
%}
<div class="form-group container-expand-lg p-5">
    <div class="row">
        <div class="col" style="background-color: rgba(250,250,250,0.9); border: solid; border-width: 1px; border-radius: 10px">
            <h5 class="text-center p-2">Batter</h5>
            <form method="POST">
                <div class="container-expand-lg">
                    <div class="row">
                        <div class="col-9">
                            <input name="batter" class="form-control" id="batter" placeholder="Enter player name...">
                        </div>
                        <div class="col-3">
                                <button type="submit" class="btn btn-primary text-center">Search</button>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text-center text-danger" style="height: 20px">{{ batter_error }}</p>
            <h1 class="text-center">{{ batter_data['fullName'] }}</h1>
            <p class="text-center">{{ hitting_data['current_team']}} | {{ hitting_data['position'] }} ({{ hitting_data['bat_side'][0] }}) | #{{ batter_data['primaryNumber'] }}</p>
            <br />
            <div class="row">
                <div class="col">
                    <img class="img-fluid mb-3" src="{{ batter_img }}" style="border: solid; border-width: 1px; border-radius: 5px"/>
                </div>
                <div class="col">
                    <p class="text-center">Career Stats</p>
                    <h4 class="text-center">AVG:&nbsp;&nbsp;&nbsp;&nbsp;{{ hitting_data['stats'][0]['stats']['avg'] }}</h4>
                    <h4 class="text-center">OBP:&nbsp;&nbsp;&nbsp;&nbsp;{{ hitting_data['stats'][0]['stats']['obp'] }}</h4>
                    <h4 class="text-center">SLG:&nbsp;&nbsp;&nbsp;&nbsp;{{ hitting_data['stats'][0]['stats']['slg'] }}</h4>
                    <h4 class="text-center">OPS:&nbsp;&nbsp;&nbsp;&nbsp;{{ hitting_data['stats'][0]['stats']['ops'] }}</h4>
                    <h4 class="text-center">HRs:&nbsp;&nbsp;&nbsp;&nbsp;{{ hitting_data['stats'][0]['stats']['homeRuns'] }}</h4>
                </div>
            </div>
        </div>
        <div class="col-5 mx-5 p-2" style="background-color: rgba(250,250,250,0.9); border: solid; border-width: 1px; border-radius: 10px">
            <h2 class="text-center">{{ batter_data['fullName'] }} vs. {{ pitcher_data['fullName'] }}</h2>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleSection('a')">Predictions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleSection('b')">Head to Head</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleSection('c')">Year Influences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleSection('d')">Player Influences</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="p-4 container">
            <div id="section-a">
                <p>Predicted outcomes of this matchup!</p>
                <div class="row">
                    <div class="col">
                        <h5>Reach Base:</h5>
                        <h5>Hit:</h5>
                        <h5>Strikeout:</h5>
                        <h5>Home Run:</h5>
                    </div>
                    <div class="col w-25">
                        <h5>{{ outcomes[0] }}%</h5>
                        <h5>{{ outcomes[1] }}%</h5>
                        <h5>{{ outcomes[2] }}%</h5>
                        <h5>{{ outcomes[3] }}%</h5>
                    </div>
                </div>
            </div>
            <div id="section-b" style="display:none;">
                <p>See the players' career stats against each other!</p>
                <div class="row">
                    <div class="col">
                        <h5>PAs:</h5>
                        <h5>Hits:</h5>
                        <h5>Ks:</h5>
                        <h5>BBs:</h5>
                        <h5>AVG:</h5>
                        <h5>OPS:</h5>
                        <h5>HRs:</h5>
                    </div>
                    <div class="col">
                        <h5>{{ head_to_head_data[0] }}</h5>
                        <h5>{{ head_to_head_data[1] }}</h5>
                        <h5>{{ head_to_head_data[2] }}</h5>
                        <h5>{{ head_to_head_data[3] }}</h5>
                        <h5>{{ head_to_head_data[4] }}</h5>
                        <h5>{{ head_to_head_data[5] }}</h5>
                        <h5>{{ head_to_head_data[6] }}</h5>
                    </div>
                </div>
            </div>
            <div id="section-c" style="display:none;">
                <p>See the highest influences per year!</p>
            </div>
             <div id="section-d" style="display:none;">
                <p>See the highest influences per player!</p>
            </div>
        </div>

        <script>
        function toggleSection(section) {
            document.getElementById('section-a').style.display = 'none';
            document.getElementById('section-b').style.display = 'none';
            document.getElementById('section-c').style.display = 'none';
            document.getElementById('section-d').style.display = 'none';
            document.getElementById('section-' + section).style.display = '';
        }
        </script>

        </div>
        <div class="col" style="background-color: rgba(250,250,250,0.9); border: solid; border-width: 1px; border-radius: 10px">
            <h5 class="text-center p-2">Pitcher</h5>
            <form method="POST">
                <div class="container-expand-lg">
                    <div class="row">
                        <div class="col-9">
                            <input name="pitcher" class="form-control" id="pitcher" placeholder="Enter player name...">
                        </div>
                        <div class="col-3">
                                <button type="submit" class="btn btn-primary text-center">Search</button>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text-center text-danger" style="height: 20px">{{ pitcher_error }}</p>
            <h1 class="text-center">{{ pitcher_data['fullName'] }}</h1>
            <p class="text-center">{{ pitching_data['current_team']}} | {{ pitching_data['position'] }} ({{ pitching_data['pitch_hand'][0] }}) | #{{ pitcher_data['primaryNumber'] }}</p>
            <br />
            <div class="row">
                <div class="col">
                    <p class="text-center">Career Stats</p>
                    <h4 class="text-center">ERA:&nbsp;&nbsp;&nbsp;&nbsp;{{ pitching_data['stats'][0]['stats']['era'] }}</h4>
                    <h4 class="text-center">WHIP:&nbsp;&nbsp;&nbsp;&nbsp;{{ pitching_data['stats'][0]['stats']['whip'] }}</h4>
                    <h4 class="text-center">Op BA:&nbsp;&nbsp;&nbsp;&nbsp;{{ pitching_data['stats'][0]['stats']['avg'] }}</h4>
                    <h4 class="text-center">K/BB:&nbsp;&nbsp;&nbsp;&nbsp;{{ pitching_data['stats'][0]['stats']['strikeoutWalkRatio'] }}</h4>
                    <h4 class="text-center">SO:&nbsp;&nbsp;&nbsp;&nbsp;{{ pitching_data['stats'][0]['stats']['strikeOuts'] }}</h4>
                </div>
                <div class="col">
                    <img class="img-fluid mb-3" src="{{ pitcher_img }}" style="border: solid; border-width: 1px; border-radius: 5px"/>
                </div>
            </div>
        </div>
    </div>
</div>
<br /> <br /> <br />
{% endblock %}